{% extends "base.html" %}

{% block nav%}

<a class="navbar-toggler btn-outline-info" href="/{{user.id}}">Profile</a>
{% endblock nav %}




{% block heading %}
<h1>Edit Me! - {{user.first_name}}</h1>
{% endblock heading %}


{% block content %}
<div class="form-group" style="padding: 10%;">
    <form action=" /get-user{{user.id}}" method="POST">
        <input type="text" name="first-name" class="form-control" value="{{user.first_name}}" autofocus
            style="width: auto;">
        <br>
        <input type="text" name="last-name" class="form-control" value="{{user.last_name}}" autofocus
            style="width: auto;">
        <br>
        <input type="text" name="img-url" class="form-control" value="{{user.image_url}}" autofocus>
        <button style="margin-top: 2%;"> Submit </button>
    </form>
</div>

{% endblock content %}