{% extends "base.html" %}

{% block nav%}
<a class="navbar-toggler btn-outline-info" href="/{{post.user_code}}">PROFILE</a>
{% endblock nav %}

{% block heading %}
{% endblock heading %}

{% block content %}
<div style="padding: 10%;">
    <form action="/handle-post{{post.id}}" method="POST">
        <div class="row">
            <h3>Title</h3>
            <div class="col">
                <textarea name="title" class="form-control" name="title" rows="1">{{title}}</textarea>

            </div>
            <h3>Content</h3>
            <div class="col">
                <textarea class="form-control" name="content" rows="10" cols="30">{{content}}</textarea>
                <button> Submit </button>
            </div>

        </div>
    </form>
</div>
{% endblock content %}