{% extends "base.html" %}


{% block nav%}
<a class="navbar-toggler btn-outline-info" href="/new-post{{user.id}}">New Post</a>
<a class="navbar-toggler btn-outline-info" href="/edit{{user.id}}">Edit Profile</a>
<a class="navbar-toggler btn-outline-danger" href="/delete{{user.id}}">Delete Profile</a>
{% endblock nav %}

{% block heading %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<div>
    <img src="{{user.image_url}}" class="img-thumbnail" alt="" height="300px" width="300px">
</div>
{% endblock %}




{% block content %}

{% for each in post %}
{% if each.user_code == user.id: %}
<a href="/user-post{{each.id}}">
    <li>{{each.title}}</li>
</a>
{% endif %}
{% endfor %}





{% endblock %}