{% extends "base.html" %}

{% block nav%}
<a class="navbar-toggler btn-outline-info" href="/edit-post{{post_id}}">EDIT POST</a>
<a class="navbar-toggler btn-outline-info" href="/delete-post{{post_id}}">DELETE POST</a>

{% endblock nav %}


{% block heading%}


{% endblock heading %}

{% block content %}


{% for each in posts %}

{% if each.id == post_id %}

<div class="text-center" style="padding: 5%;">
    <h2>{{each.title}}</h2>
    <p>{{each.content}}</p>
</div>

{% endif %}
{% endfor %}


{% endblock content %}