{% extends "base.html" %}

{% block heading %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
{% endblock %}

{% block content %}
<div>
    <img src="{{user.image_url}}" class="img-thumbnail" alt="" height="200px" width="200px">
    <div>
        <h2>{{user.id}} - {{user.first_name}} - {{user.last_name}}</h2>
        <h2> </h2>
    </div>
    <form action="/edit{{user.id}}">
        <button>Edit</button>
    </form>
    <form action="/delete{{user.id}}">
        <button>Delete</button>
    </form>
    <form action="/">
        <button>Home</button>
    </form>
</div>

{% endblock %}